<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:postgresql://localhost:5432/task_management_db</param-value>
    </context-param>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.example.taskmanagement.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.example.taskmanagement.listeners.ApplicationListener</listener-class>
    </listener>

</web-app>

